label{
  font-size: large;
}

button:hover{
  cursor:pointer;
}
.container{
  width:100%;
}
.show{
  background-color:#f0f8ff; 
  padding:2em;
  color:#131936;
}
.show > button{
  margin:10px;
  
}

.fields{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.inputs{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width:300px;
}

.inputs > *{
  margin:5px;
 
}
.form {
  display:flex;
  flex-direction: column;
  padding:2em;
  background-color: aliceblue;

  align-items:flex-start;
  }

.add{
  width: 290px;
  margin-left:15px;
}
table{
  margin: auto;
  
}
.table-cell > input{
  width:90%;
}
.table-cell > select{
  width:90%;
}
table, th, td{
  border: 1px solid;
  border-collapse: collapse;
}
th{
  padding:5px;
}
tr:nth-child(even){
background-color: rgb(222, 235, 247);
}
td{
  padding: 5px;
  
}
.table-cell>button{
  margin-top:8px;
  background-color: #d9ac34;
  border: 0;
  color: white;
  height:25px;
}
.table-cell{
  display:flex;
  flex-direction: column;
  font-size: 20px;
}
.value{
  height: 50px;
  display: flex;
  justify-content: center;
}
.value>p{
  
  font-family: monospace;
}
#nr-laboranta{
  width:7%;
}
#ilosc{
  width:7%;
}
#miejsce{
  width:10%;
}
#nazwa{
  width:10%;
}
#nr-inwentarzowy{
  width:10%;
}
#uzytkownik-sprzetu{
  width:10%;
}
#rodzaj{
  width:10%;
}
#typ{
  width:10%;
}
#do-wybrakowania{
  width:10%;
}
