#nr-laboranta{
    width:7%;
  }
  #ilosc{
    width:7%;
  }
  #miejsce{
    width:10%;
  }
  #nazwa{
    width:10%;
  }
  #nr-inwentarzowy{
    width:12%;
  }
  #uzytkownik-sprzetu{
    width:10%;
  }
  #rodzaj{
    width:10%;
  }
  #typ{
    width:10%;
  }
  #do-wybrakowania{
    width:10%;
  }
  